<div  class="container">
    <h3 class="titulo">Lista de Actores</h3>
    <div *ngFor="let actor of listaActores">
        <div class="renglon" (click)="enviarActor(actor)">
            <div class="infoBox">
                <label class="texto">Nombre y Apellido: </label>
                <label class="infoActor" >{{actor.nombre}}, {{actor.apellido}}</label><br>
                <label class="texto">Edad: </label>
                <label class="infoActor">{{actor.edad}}</label><br>
                <label class="texto">Pais: </label>
                <label class="infoActor">{{actor.pais.nombre}}</label><br>
            </div>
            <img src="{{actor.urlImagen}}" class="imagen-actor">
        </div>
    </div>       
</div>
