<h1>Listado peliculas!</h1>
<table border=1 class="tablaPeliculas">
	<thead>
		<th>ID</th>
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Fecha de Estreno</th>
		<th>Cantidad Publico</th>
		<th>Seleccionar</th>
	</thead>
  <tbody>
  <tr *ngFor="let pelicula of listadoPeliculas" (peliculaSeleccionada)="mostrarDetalles($event)" >
    <td class="badge">{{pelicula.id}}</td>
    <td > {{pelicula.nombre}} </td>
    <td > {{pelicula.tipo}} </td>
    <td > {{pelicula.fechaEstreno |  date: 'shortDate' }} </td>
    <td > {{pelicula.cantidadPublico}} </td>
    <td > <button type="button" class="btn btn-info btn-circle"   (click)="mostrarDetalles(pelicula)"><i class="fa fa-check"></i>
    </button></td>
  </tr>
  </tbody> 
</table>
