<div *ngIf="!unaPelicula">
    <p> seleccione una Pelicula </p>
  </div>
  
  
  <div *ngIf="unaPelicula">
    <h2>{{unaPelicula.nombre}} </h2>
   
  
    <div class="card" style="width:300px">
        <img class="card-img-top" src="{{unaPelicula.urlImagen}}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{unaPelicula.id}}</h4>
          <p class="card-text">{{unaPelicula.tipo}}, {{unaPelicula.cantidadPublico}}, {{unaPelicula.fechaEstreno | date:"shortDate"}}</p>
          <a href="#" class="btn btn-danger">Borrar</a>
        </div>
      </div>
  </div>
